@font-face {
  font-family: "UnicaOne";
  src: url("../fonts/UnicaOne-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRightLogos {
  0% {
    opacity: 0;
    transform: translate3d(-400%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeftLogos {
  0% {
    opacity: 0;
    transform: translate3d(400%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
body {
  margin: auto;
  background-color: #9babb5;
}

.mainWrapper {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  font-size: 16px;
  color: #320E3B;
  font-weight: 500;
  overflow: hidden;
}

h1, h2, h3 {
  color: #320E3B;
}

a {
  text-decoration: none;
  color: #98DFAF;
}

ul {
  list-style: none;
}

.mainContent {
  margin: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  margin: 40px 100px;
  color: #320E3B;
}

.active-wrapper {
  margin-top: 64px;
}
@media (min-width: 768px) {
  .active-wrapper {
    margin-top: 75.2px;
  }
}

.header {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #320E3B;
  font-family: "UnicaOne", sans-serif;
}
.header a {
  display: inline-block;
}
.header a:not(.header__logo):hover {
  animation: shake 1s ease;
}
@media (min-width: 1280px) {
  .header {
    padding: 0;
  }
}
.header__logo {
  font-size: 20px;
  margin-left: 20px;
  animation: fadeInDown 1.5s ease;
}
@media (min-width: 768px) {
  .header__logo {
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    font-size: 40px;
  }
}
.header__language {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
}
@media (min-width: 768px) {
  .header__language {
    font-size: 16px;
  }
}
.header .menuToggle {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .header .menuToggle {
    width: 40px;
    height: 30px;
  }
}
@media (min-width: 1280px) {
  .header .menuToggle {
    display: none;
  }
}
.header .menuToggle span {
  width: 100%;
  height: 4px;
  background-color: #98DFAF;
}
@media (min-width: 768px) {
  .header .menuToggle span {
    height: 6px;
  }
}
.header .menuToggle span.topBar, .header .menuToggle span.middleBar, .header .menuToggle span.bottomBar {
  transition: all ease-out 0.5s;
}
.header .menuToggle span.active-menu.topBar {
  transform: translateY(200%) rotate(-45deg);
}
.header .menuToggle span.active-menu.bottomBar {
  transform: translateY(-200%) rotate(45deg);
}
.header .menuToggle span.active-menu.middleBar {
  opacity: 0;
}
.header__navMobile {
  display: none;
  z-index: 100;
}
.header__navMobile .menu-header-container, .header__navMobile .menu-english-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #98DFAF;
}
.header__navMobile .menu-header-container .menu, .header__navMobile .menu-english-header-container .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.header__navMobile .menu-header-container .menu .menu-item a, .header__navMobile .menu-english-header-container .menu .menu-item a {
  color: #320E3B;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header__navMobile .menu-header-container .menu, .header__navMobile .menu-english-header-container .menu {
    font-size: 45px;
  }
}
.header .active {
  display: flex;
  position: fixed;
  top: 42.9px;
  width: 100vw;
  height: 100vh;
  background-color: #9babb5;
  animation: fadeIn 400ms;
}
@media (min-width: 768px) {
  .header .active {
    top: 55.2px;
  }
}
.header__navDesktop {
  display: none;
}
@media (min-width: 1280px) {
  .header__navDesktop {
    display: flex;
  }
  .header__navDesktop .menu {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.fixed {
  position: fixed;
  z-index: 100;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 20px;
}
.intro__siteTitle {
  animation: fadeInDown 1.5s ease;
  text-align: center;
  color: #320E3B;
}
.intro .hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1280px) {
  .intro .hero {
    flex-direction: row;
    justify-content: center;
  }
}
.intro .hero__picture {
  border-radius: 50px;
}
.intro .hero__picture img {
  animation: fadeInRight 2s ease;
  border-radius: 50px;
  width: 30%;
  background: linear-gradient(225deg, #a6b7c2, #8c9aa3);
  box-shadow: -5px 5px 7px #829098, 5px -5px 7px #b4c6d2;
}
.intro .hero__text {
  width: 90%;
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  .intro .hero__text {
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .intro .hero__text {
    width: 70%;
  }
}
.intro .hero__text .text__top, .intro .hero__text .text__left, .intro .hero__text .text__right {
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(225deg, #a6b7c2, #8c9aa3);
  box-shadow: -5px 5px 7px #829098, 5px -5px 7px #b4c6d2;
}
.intro .hero__text .text__top, .intro .hero__text .text__right {
  animation: fadeInLeft 2s ease;
}
.intro .hero__text .text__left {
  animation: fadeInLeft 1.5s ease;
}
.intro .hero__text .text__wrapper {
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .intro .hero__text .text__wrapper {
    flex-direction: row;
  }
}

.later {
  text-align: center;
}
@media (min-width: 768px) {
  .later {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .later {
    width: 80%;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  margin-bottom: 40px;
  gap: 20px;
}
.skills__title {
  animation: fadeInUp 1.5s ease;
  text-align: center;
  color: #320E3B;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.skills__title.reveal {
  position: relative;
  transform: translateY(20px);
  opacity: 0;
  transition: all 5s ease;
}
.skills__title.active {
  transform: translateY(0px);
  opacity: 1;
  transition: all 1s ease;
}
.skills__logos {
  width: 80%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(225deg, #a6b7c2, #8c9aa3);
  box-shadow: -5px 5px 7px #829098, 5px -5px 7px #b4c6d2;
}
@media (min-width: 768px) {
  .skills__logos {
    width: auto;
  }
}
.skills__logos .html {
  animation: fadeInRightLogos 2s ease;
}
.skills__logos .css {
  animation: fadeInRightLogos 1.5s ease;
}
.skills__logos .js {
  animation: fadeInRightLogos 1s ease;
}
.skills__logos .react {
  animation: fadeInLeftLogos 1.2s ease;
}
.skills__logos .php {
  animation: fadeInLeftLogos 1.4s ease;
}
.skills__logos .mysql {
  margin-right: -20px;
  animation: fadeInLeftLogos 1.6s ease;
}
.skills__logos .mongo {
  margin-right: -5px;
  animation: fadeInLeftLogos 1.8s ease;
}
.skills__text {
  display: flex;
  align-items: center !important;
  gap: 20px;
}
.skills__text .text__top {
  width: 75%;
  animation: fadeInRight 2s ease;
}
@media (min-width: 360px) {
  .skills__text .text__top {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .skills__text .text__top {
    width: 85%;
  }
}
.skills__text .text__bottom {
  animation: fadeInRight 2s ease;
}
.skills__text .text__right {
  animation: fadeInLeft 2s ease;
}
.skills__text .text__wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}
@media (min-width: 768px) {
  .skills__text .text__wrapper {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .skills__text .text__wrapper {
    width: 88%;
  }
}
.skills__text .text__top, .skills__text .text__bottom, .skills__text .text__right {
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(225deg, #a6b7c2, #8c9aa3);
  box-shadow: -5px 5px 7px #829098, 5px -5px 7px #b4c6d2;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  margin-bottom: 40px;
  gap: 20px;
}
.projects__title {
  animation: fadeInUp 1.5s ease;
  text-align: center;
  color: #320E3B;
  text-transform: uppercase;
}
.projects__title.reveal {
  position: relative;
  transform: translateY(20px);
  opacity: 0;
  transition: all 5s ease;
}
.projects__title.active {
  transform: translateY(0px);
  opacity: 1;
  transition: all 1s ease;
}
.projects__text {
  text-align: center;
  width: 80%;
  padding: 20px 0;
  animation: fadeInLeft 2s ease-out;
  font-size: 16px !important;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(225deg, #a6b7c2, #8c9aa3);
  box-shadow: -5px 5px 7px #829098, 5px -5px 7px #b4c6d2;
}
@media (min-width: 768px) {
  .projects__text {
    width: 85%;
  }
}

.gallery {
  width: 100%;
}
@media (min-width: 1280) {
  .gallery {
    width: 80%;
  }
}
.gallery .project {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
  background: linear-gradient(225deg, #a6b7c2, #8c9aa3);
  box-shadow: -5px 5px 7px #829098, 5px -5px 7px #b4c6d2;
  padding: 20px 0;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "UnicaOne";
}
.gallery .project__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #98DFAF;
}
.gallery .project__main img {
  width: 80%;
  border-radius: 20px;
  background: linear-gradient(225deg, #a6b7c2, #8c9aa3);
  box-shadow: -5px 5px 7px #829098, 5px -5px 7px #b4c6d2;
}
.gallery .project__infos {
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .project__infos .technos {
  color: #320E3B;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
  text-transform: capitalize;
  text-align: center;
}
.gallery .project__infos .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.gallery .project__infos .btns .github__logo {
  width: 50px;
  transition: transform 1000ms;
  border-radius: 50px;
  background: linear-gradient(225deg, #a6b7c2, #8c9aa3);
  box-shadow: -5px 5px 7px #829098, 5px -5px 7px #b4c6d2;
}
.gallery .project__infos .btns .github__logo:hover {
  transform: rotate(360deg);
  transition: transform 1000ms;
}
.gallery .project__infos .btns .site__btn {
  color: #320E3B;
  font-family: "UnicaOne";
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  background: #98DFAF;
  box-shadow: inset -5px 5px 12px #5b8669, inset 5px -5px 12px #d5fff5;
  border: none;
}
.gallery .project__infos .btns .site__btn:hover {
  animation: shake 1s ease;
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}
.modal-overlay #wpcf7-f77-o1, .modal-overlay #wpcf7-f78-o1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-overlay .contactForm {
  display: flex;
  flex-direction: column;
  font-size: 12px !important;
  width: 225px;
  height: auto;
  overflow: hidden;
  border: 5px solid #98DFAF;
  align-items: center;
  background-color: #320E3B;
}
@media (min-width: 360px) {
  .modal-overlay .contactForm {
    width: 250px;
    height: auto;
    overflow: hidden;
  }
}
@media (min-width: 769px) {
  .modal-overlay .contactForm {
    width: 597px;
    height: auto;
  }
}
.modal-overlay .formTitle {
  color: #98DFAF;
  font-size: 40px;
  margin: 0;
  line-height: 0.8;
}
.modal-overlay p:has(#modalClose) {
  position: absolute;
  right: -42px;
  font-size: 80px;
  padding: 0;
  margin: 0;
  line-height: 0.3;
  cursor: pointer;
  transform: rotate(0);
  transition: transform 500ms;
}
.modal-overlay p:has(#modalClose) br {
  display: none;
}
.modal-overlay p:has(#modalClose):hover {
  transform: rotate(180deg);
  transition: transform 500ms;
}
@media (min-width: 802px) {
  .modal-overlay p:has(#modalClose) {
    right: -70px;
  }
}
.modal-overlay .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-overlay .form label {
  display: flex !important;
  flex-direction: column !important;
  gap: 1px;
  margin-top: 14px;
}
@media (min-width: 769px) {
  .modal-overlay .form label {
    margin-top: 24px;
  }
}
.modal-overlay .formtitle {
  font-family: "Roboto";
  font-weight: 500;
  margin-bottom: 5px;
}
.modal-overlay .wpcf7-not-valid-tip {
  margin-top: 10px;
  margin-bottom: -19.4px;
  font-size: 10px;
}
@media (min-width: 769px) {
  .modal-overlay .wpcf7-not-valid-tip {
    margin-top: 10px;
    margin-bottom: -24.4px;
    font-size: 12px;
  }
}
.modal-overlay .wpcf7-text {
  width: 180px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  padding: 0 3px;
  font-family: "Roboto";
}
@media (min-width: 359px) {
  .modal-overlay .wpcf7-text {
    width: 190px;
    height: 40px;
  }
}
@media (min-width: 769px) {
  .modal-overlay .wpcf7-text {
    width: 420px;
    height: 40px;
  }
}
.modal-overlay .wpcf7-textarea {
  resize: none;
  width: 180px;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  padding: 5px 3px;
  font-family: "Roboto";
  font-size: 13px;
}
@media (min-width: 359px) {
  .modal-overlay .wpcf7-textarea {
    width: 190px;
  }
}
@media (min-width: 769px) {
  .modal-overlay .wpcf7-textarea {
    width: 420px;
    height: 210px;
  }
}
.modal-overlay .wpcf7-text:focus, .modal-overlay .wpcf7-textarea:focus {
  outline: none;
}
.modal-overlay .wpcf7-spinner {
  display: none;
}
.modal-overlay .wpcf7-submit {
  font-family: "UnicaOne";
  color: #320E3B;
  background-color: #98DFAF;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  width: 195px;
  height: 45px;
  padding: 0;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 20px;
}
.modal-overlay .wpcf7-submit:hover {
  animation: shake 1s ease;
}
@media (min-width: 769px) {
  .modal-overlay .wpcf7-submit {
    width: 267px;
    height: 50px;
  }
}

.wpcf7-response-output {
  display: none;
}

.active-modal {
  display: flex !important;
}

footer {
  width: 100%;
  background-color: #320E3B;
  font-family: "UnicaOne";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
@media (min-width: 1280px) {
  footer {
    font-size: 25px;
  }
}
footer p {
  color: #98DFAF;
  margin-bottom: 12px;
}
@media (min-width: 1280px) {
  footer p {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=theme.css.map */