$color_1: #98DFAF;
$color_2: #320E3B;
$color_3: #9babb5;
$color_4: #4B4852;
$font-family_1: 'UnicaOne';
$font-family_2: 'Roboto';

$gradient: linear-gradient(225deg, #a6b7c2, #8c9aa3);
$box-shadow: -5px 5px 7px #829098,
            5px -5px 7px #b4c6d2;

//#9BABB5